.boarding-banner-page-heading {
    background-image: url(../../public/images/boarding-pic.jpg);
    background-position: center 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 0px;
    text-align: center;
}