.boarding-banner-page-heading {
  background-image: url(../../public/images/boarding-pic.jpg);
  background-position: center 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 0px;
  text-align: center;
}

.board-body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.boarding-body {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 100px;
  overflow-y: hidden;
}
