.carousel-banner-size {
    width: 100% !important;               
    height: 600px !important;                
    background-size: cover !important;       
    background-position: center !important; 
    background-repeat: no-repeat !important; 
  }
  
  
  .carousel-caption {
    top: 30%;
    font-size: 1.4em;
  }
  
  .carousel-item{
    height: 19%;
    object-fit: contain;
  }