.container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px; /* Adjust height as needed */
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input[type="number"],
input[type="datetime-local"],
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.update-button {
    background-color: #5cb85c; /* Green */
    color: white;
    border: none;
    border-radius: 4px;
    padding-left: 85px;
    padding-right: 85px;
    cursor: pointer;
    font-size: 16px;
}

.update-button:hover {
    background-color: #4cae4c; /* Darker green on hover */
}

.delete-button {
    background-color: #d9534f; /* Red */
    color: white;
    border: none;
    border-radius: 4px;
    padding-left: 85px;
    padding-right: 85px;
    cursor: pointer;
    font-size: 16px;
}

.delete-button:hover {
    background-color: #c9302c;
}