.gate-banner-page-heading {
  background-image: url(../../public/images/gate.jpg);
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 0px;
  text-align: center;
}

.gate-banner-heading-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers text */
  color: rgb(255, 255, 255); /* Adjust as needed */
  font-size: 35px; /* Adjust size as needed */
  font-weight: bolder; /* Optional: makes text bold */
}

.gate-option-design {
  margin-bottom: 10px;
}

.gate-full-body {
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.gate-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
