/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
} */

.container {
    padding: 20px;
}

.notification-list {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    background-color: #f9f9f9;
    max-height: 300px; /* Limiting height */
    overflow-y: auto; /* Scroll if overflow */
}

.notification-item {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    transition: transform 0.2s;
}

.notification-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.notification-message {
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
}

.notification-timestamp {
    color: #888;
    font-size: 1.2em; /* Larger font size for better readability */
    margin-top: 5px; /* Add margin to space out from the message */
    margin-bottom: 0; /* Adjust bottom margin if needed */
}

/* Adjust spacing between date input and button in the Create Notification section */
#notification-form input[type="datetime-local"] {
    margin-bottom: 10px; /* Add margin to space out from the button */
}

/* Adjust spacing between sections */
#all-notifications {
    padding: 10px;
    margin-bottom: 10px; 
}

#update-notification {
    padding: 10px;
    margin-bottom: 10px; 
}

#delete-notification {
    padding: 10px;
    margin-bottom: 10px; 
}

/* Adjust spacing between inputs and button in the Update Notification section */
#update-id,
#update-message,
#update-timestamp {
    margin-bottom: 10px; 
}



  
  
