.container {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #555;
}

button {
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #4cae4c;
}

.return-button {
  background-color: #67a1ff;
  color: white;
  border: none;
  border-radius: 4px;
  padding-left: 114px;
  padding-right: 114px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.5s;
}

.return-button:hover {
  background-color: #3d87ff;
  transform: scale(1.07);
}

.confirm-button {
  background-color: #378537;
  color: white;
  border: none;
  border-radius: 4px;
  padding-left: 110px;
  padding-right: 110px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.5s;
}

.confirm-button:hover {
  background-color: #288e28;
  transform: scale(1.07);
}
